@mixin appSubtabsVariation(
  $border-color,
  $font-color,
  $hover-font-color,
  $selected-font-color,
  $disabled-font-color,
  $selected-icon-color
) {

  color: $font-color;
  border-top-color: $border-color;
  border-bottom-color: $border-color;

  .tabs__item {

    &:hover {
      color: $hover-font-color;
    }

    /**
     * This is the selected state for a single tab item.
     *
     * 1. Override children styles
     */
    &.is-tab-selected {
      color: $selected-font-color;
      .icon {
        color: $selected-icon-color;
      }
    }

    /**
     * This is the disabled state for a single tab item.
     *
     * 1. Override children styles
     */
    &.is-tab-disabled {
      color: $disabled-font-color;
    }

  }

}
