// Spacing
$app-global-side-nav-padding: remCalc(18px) !default;

// Text Size
$app-global-side-nav-font-size: remCalc(13px) !default;
$app-global-side-nav-icon-size: 1rem !default;
$app-global-side-nav-utility-font-size: remCalc(10px) !default; 
