$base-z-index-dropdown: 20 !default;
$base-z-index-global-nav: 40 !default;
$base-z-index-global-header: 60 !default;
$base-z-index-alert: 80 !default;
$base-z-index-blackout: 100 !default;
$base-z-index-modal: 120 !default;
