$base-list-padding: 0.5em !default;
$base-list-cozy-padding: 0.25em !default;
$base-list-comfy-padding: 1em !default;

$base-list-inline-margin: 1.5em !default;
$base-list-cozy-inline-margin: 1em !default;
$base-list-comfy-inline-margin: 2em !default;
