$app-view-side-panel-width: 400px;
$app-view-side-menu-width: 180px;
$app-view-side-menu-wide-width: 220px;
$app-view-side-panel-drop-shadow-distance: 4px;
$app-view-side-panel-transition-duration: 0.3s;

$app-view-side-navigation-width: 230px;
$app-view-side-navigation-arrow-size: 15px;
