/*------------------------------------*\
    #GlobalFooter
\*------------------------------------*/

.comGlobalFooter {
  font-size: remCalc(14px);
  line-height: remCalc(24px);
  padding: 48px 0 24px 0;
  text-align: center;
  background-color: $com-global-footer-background-color;
  display: none;

  @media only screen and(min-width: 891px) {
    display: block;
  }
}

  .comGlobalFooter__border {
    border-top: 1px solid $com-global-footer-border-color;
    padding-top: 48px;
    margin-left: 15px;
    margin-right: 15px;

    @include respondTo(small-down) {
      display: none;
    }

    @include respondTo(large-up) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .comGlobalFooter__col {
    width: 20%;
  }

  .comGlobalFooter__icon {
    color: $com-global-footer-icon-color;    
    font-size: remCalc(40px);
  }

  .comGlobalFooter__newsIcon {
    font-size: remCalc(34px);
  }

  .comGlobalFooter__title {
    margin: 12px 0 4px;
    color: $com-global-footer-title-color;
    font-size: remCalc(20px);
    line-height: remCalc(28px);
  }

  .comGlobalFooter__newsTitle {
    margin-top: 18px;
  }

  .comGlobalFooter__legal {
    text-align: center;
    font-size: remCalc(12px);
    line-height: remCalc(20px);
    padding-top: 24px;
    color: $com-global-footer-legal-color;
    padding-bottom: 24px;
    margin: 0;

    .comGlobalFooter__border {
      @include respondTo(medium-up) {
        padding-top: 24px;
      }

      @include respondTo(small-down) {
        border-top: none;
      }
    }
  }

