// We use this to set the base for lots of form spacing and positioning styles
$com-form-spacing: remCalc(16) !default;

// We use these to style the labels in different ways
$com-input-font-family: inherit !default;
$com-input-font-size: remCalc(14) !default;
$com-input-border-radius: 0 !default;
$com-input-box-shadow: none;

// We use this to style the glowing effect of inputs when focused
$com-glowing-effect-fade-time: 0.45s !default;

// Select variables
$com-select-width: 100%;

// Radio variables
$com-radio-width: 13px;
$com-radio-height: 12px;