$com-product-list-image-height: 133px;
$com-product-list-image-width: 145px;
$com-product-list-breakpoint-medium: 570px;
$com-product-list-breakpoint-large: 900px;
$com-product-list-breakpoint-xlarge: 1260px;
$com-product-list-breakpoint-max-width: $com-content-max-width;
