.verticalRhythm {
  margin-bottom: $app-vertical-rhythm !important;
}

.verticalRhythmTop {
  margin-top: $app-vertical-rhythm !important;
}

.verticalRhythmPadding {
  padding-bottom: $app-vertical-rhythm !important;
}

.verticalRhythmPaddingTop {
  padding-top: $app-vertical-rhythm !important;
}

.verticalRhythmHalf {
  margin-bottom: $app-vertical-rhythm-half !important;
}

.verticalRhythmTopHalf {
  margin-top: $app-vertical-rhythm-half !important;
}

.verticalRhythmPaddingHalf {
  padding-bottom: $app-vertical-rhythm-half !important;
}

.verticalRhythmPaddingTopHalf {
  padding-top: $app-vertical-rhythm-half !important;
}

.verticalRhythmQuarter {
  margin-bottom: $app-vertical-rhythm-quarter !important;
}

.verticalRhythmTopQuarter {
  margin-top: $app-vertical-rhythm-quarter !important;
}

.verticalRhythmPaddingQuarter {
  padding-bottom: $app-vertical-rhythm-quarter !important;
}

.verticalRhythmPaddingTopQuarter {
  padding-top: $app-vertical-rhythm-quarter !important;
}
