// Spacing
$base-icon-text-vertical-padding: 0.3em !default;

// Font size
$base-icon-text-font-size: 1.5em !default;
$base-icon-text-small-font-size: 1em !default;
$base-icon-text-medium-font-size: 1.55em !default;
$base-icon-text-large-font-size: 2em !default;

// Padding
$base-icon-text-cozy-padding: 0 !default;
$base-icon-text-comfy-padding: 0.6em !default;

// Stacked
$base-icon-text-stacked-padding: 5px !default;
