// -----------------------------------------------------------------------------
// HEADER
// -----------------------------------------------------------------------------

$base-table-header-height: remCalc(43px) !default;

// -----------------------------------------------------------------------------
// BODY
// -----------------------------------------------------------------------------

$base-table-body-height-short: remCalc(192px) !default;
$base-table-body-height-medium: remCalc(480px) !default;
$base-table-body-height-tall: remCalc(864px) !default;

// -----------------------------------------------------------------------------
// PADDING MODIFIER
// -----------------------------------------------------------------------------

$base-table-cozy-cell-padding: remCalc(8px) !default;
$base-table-comfy-cell-padding: remCalc(16px) !default;

// -----------------------------------------------------------------------------
// SOLID MODIFIER
// -----------------------------------------------------------------------------

$base-table-solid-border-width: 1px !default;
