$base-max-row-width: 960px !default;
$base-comfy-row-margin: 1em !default;
$base-grid-columns: 12 !default;
$base-grid-gutter-width: 10px !default;

// Responsive container sizes.
$base-grid-container-xsmall: 100% !default;
$base-grid-container-small: 400px !default;
$base-grid-container-medium: 600px !default;
$base-grid-container-large: 900px !default;
$base-grid-container-xlarge: 1200px !default;
$base-grid-container-xxlarge: 1600px !default;
