// Tooltips
$app-flat-box-shadow: remCalc(0 1px 0) $app-shadow-light-flat-color;

// Dropdowns, popovers
$app-low-light-box-shadow: remCalc(1px 1px 2px) $app-shadow-light-low-color;
$app-low-dark-box-shadow: remCalc(0 1px 2px) $app-shadow-dark-low-color;

// Modals
$app-high-box-shadow: remCalc(0 10px 35px) $app-shadow-light-high-color;

