// -----------------------------------------------------------------------------
// PADDING
// -----------------------------------------------------------------------------

$app-padding: 24px;
$app-cozy-padding: 12px;

// -----------------------------------------------------------------------------
// GLOBAL HEADER (HEIGHT)
// -----------------------------------------------------------------------------

$app-global-header-height: 45px !default;
$app-global-header-line-height: 41px !default;

// -----------------------------------------------------------------------------
// GLOBAL SIDE NAV (HEIGHT)
// -----------------------------------------------------------------------------
/**
 * 1. Push the sidenav down so it doesn't get hidden behind the global header.
 */
$app-global-side-nav-with-header-offset: $app-global-header-height !default; /* [1] */

// -----------------------------------------------------------------------------
// GLOBAL SIDE NAV (WIDTH)
// -----------------------------------------------------------------------------

$app-global-side-nav-width-medium: 50px !default;

// -----------------------------------------------------------------------------
// GLOBAL HEADER (WIDTH)
// -----------------------------------------------------------------------------

$app-global-header-offset-left-medium: $app-global-side-nav-width-medium !default;

// -----------------------------------------------------------------------------
// ACTION BAR
// -----------------------------------------------------------------------------

$app-action-bar-height: 47px;
$app-action-bar-cozy-height: 32px;

// -----------------------------------------------------------------------------
// PAGE
// -----------------------------------------------------------------------------

$app-page-offset-left-medium: $app-global-side-nav-width-medium !default;

/**
 * 1. Push the page down so it doesn't get hidden behind the global header.
 */
$app-page-offset-top: $app-global-header-height !default; /* [1] */

// -----------------------------------------------------------------------------
// SIDE MENU
// -----------------------------------------------------------------------------

$app-side-menu-width: 180px;
$app-side-menu-width-wide: 220px;

// -----------------------------------------------------------------------------
// FOOTER
// -----------------------------------------------------------------------------

$app-footer-height: 43px;
