$app-icon-input-icon-side-offset: emCalc(8px);
$app-icon-input-select-icon-side-offset: emCalc(32px);
$app-icon-input-control-offset: emCalc(20px);
$app-icon-input-control-comfy-offset: emCalc(27px);
$app-icon-input-select-right-offset: emCalc(60px);
