// Prompt
$app-tooltip-prompt-size: remCalc(16px);

// Tooltip
$app-tooltip-default-width: remCalc(240px);
$app-tooltip-wide-width: remCalc(480px);
$app-tooltip-x-offset: remCalc(11px);
$app-tooltip-x-edge-offset: remCalc(4px);
$app-tooltip-y-offset: 20px;
$app-tooltip-distance: 14px;

// Arrow
$app-tooltip-arrow-size: remCalc(11px);
