/**
 * 1. Expect developers to position this element absolutely on the screen, or
 *    within the originating element (e.g. a button).
 * 2. Don't inherit any styles from parent (e.g. a button).
 * 3. Use round corners to clip content.
 */
.appPopover {
  position: absolute; /* [1] */
  z-index: $base-z-index-popover;
  width: remCalc(260px);
  font-size: remCalc(14px);
  color: $app-popover-font-color; /* [2] */
  text-transform: none; /* [2] */
  text-align: left; /* [2] */

  &:before,
  &:after {
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    pointer-events: none;
    border-width: $app-popover-arrow-size;
  }
}

  /**
   * 1. Use background color on the inner element so that it gets cropped by
   *    the parent element's overflow: none.
   */
  .appPopover__inner {
    background-color: $app-popover-background-color; /* [1] */
    box-shadow: $app-high-box-shadow;
    border: 1px solid $app-popover-border-color;
    border-radius: 5px;
    overflow: hidden; /* [3] */
  }

  /**
   * 1. Position button at top right of popover.
   */
  .appPopover__close {
    @extend %appCloseButton;
    position: absolute; /* [1] */
    cursor: pointer;
    font-size: remCalc(12px);
    top: remCalc(10px); /* [1] */
    right: remCalc(8px); /* [1] */
  }

  .appPopover__header {
    background-color: $app-popover-header-background-color;
    padding: remCalc(7px 12px 8px);
    font-weight: bold;
    font-size: remCalc(16px);
    border-bottom: 1px solid $app-line-light-section-border-color;
  }

  .appPopover__section {
    padding: remCalc(7px 12px 7px);
    border-bottom: 1px solid $app-line-light-item-border-color;
  }

  .appPopover__content {
    padding: remCalc(10px 12px 12px);
  }

  .appPopover__header--standalone,
  .appPopover__subHeader--standalone {
    border-top: 1px solid $app-line-light-section-border-color;
  }

  .appPopover__subHeader {
    padding: 7px 12px 8px;
    font-size: 14px;
    line-height: 1.2;
    border-bottom: $app-header-border;
  }

.appPopover--closeable {
  .appPopover__header {
    padding-right: 28px;
  }
}

.appPopover--cozy {
  font-size: remCalc(11px);
}

.appPopover--narrow {
  width: 180px;
}

/**
 * Arrow is on the left.
 */
.appPopover--rightDown,
.appPopover--rightUp {
  left: calc(100% + #{$app-popover-offset});
  &:before,
  &:after {
    border-style: solid solid solid outset;
  }

  &:after {
    left: remCalc(-12px);
    border-right-color: $app-popover-background-color;
  }

  &:before {
    left: remCalc(-14px);
    border-right-color: $app-popover-shadow-color;
  }
}

/**
 * Arrow is on the right.
 */
.appPopover--leftDown,
.appPopover--leftUp {
  right: calc(100% + #{$app-popover-offset});
  &:before,
  &:after {
    border-style: solid outset;
  }

  &:after {
    right: remCalc(-13px);
    border-left-color: $app-popover-background-color;
  }

  &:before {
    right: remCalc(-14px);
    border-left-color: $app-popover-shadow-color;
  }
}

/**
 * Arrow is on the left or right top.
 */
.appPopover--rightDown,
.appPopover--leftDown {
  top: 0;
  &:before,
  &:after {
    top: remCalc(10px);
  }
}

/**
 * Arrow is on the left or right bottom.
 */
.appPopover--rightUp,
.appPopover--leftUp {
  bottom: 0;
  &:before,
  &:after {
    bottom: remCalc(10px);
  }
}

/**
 * Arrow is on the top.
 */
.appPopover--bottomLeft,
.appPopover--bottomRight {
  top: calc(100% + #{$app-popover-offset});
  &:before,
  &:after {
    border-style: outset solid solid;
  }

  &:after {
    top: remCalc(-12px);
    border-bottom-color: $app-popover-background-color;
  }

  &:before {
    top: remCalc(-14px);
    border-bottom-color: $app-popover-shadow-color;
  }
}

/**
 * Arrow is on the bottom.
 */
.appPopover--topLeft,
.appPopover--topRight {
  bottom: calc(100% + #{$app-popover-offset});
  &:before,
  &:after {
    border-style: solid solid outset;
  }

  &:after {
    bottom: remCalc(-13px);
    border-top-color: $app-popover-background-color;
  }

  &:before {
    bottom: remCalc(-15px);
    border-top-color: $app-popover-shadow-color;
  }
}

/**
 * Arrow is on the top or bottom right.
 */
.appPopover--bottomLeft,
.appPopover--topLeft {
  right: 0;
  &:before,
  &:after {
    right: $app-popover-offset;
  }
}

/**
 * Arrow is on the top or bottom left.
 */
.appPopover--bottomRight,
.appPopover--topRight {
  left: 0;
  &:before,
  &:after {
    left: $app-popover-offset;
  }
}

.appPopover--wide {
  width: remCalc(620px);
}

.appPopover--withHeader {
  &.appPopover--rightDown {
    &:after {
      border-right-color: $app-popover-header-background-color;
    }
  }

  &.appPopover--leftDown {
    &:after {
      border-left-color: $app-popover-header-background-color;
    }
  }
  &.appPopover--bottomLeft,
  &.appPopover--bottomRight {
    &:after {
      border-bottom-color: $app-popover-header-background-color;
    }
  }
}

