.appIconInput {
  position: relative;
  display: inline-block;
}

  /**
   * 1. Make sure icon is on top of input. Input gains z-index of 2 when focused
   *    so we make this z-index 3.
   * 2. Clicks on icon should pass through to the input.
   */
  .appIconInput__icon {
    position: absolute;
    z-index: 3; /* [1] */
    top: remCalc(10px);
    color: $app-form-icon-input-icon-color;
    pointer-events: none; /* [2] */
    .appForm--cozy & {
      top: remCalc(6px);
    }
  }

  /**
   * 1. Using an anchor with an icon should make it clickable.
   */
  a.appIconInput__icon {
    pointer-events: auto; /* [1] */
  }

.appIconInput--full {
  display: block;
}

.appForm--cozy .appIconInput--right,
.appIconInput--right {

  .appIconInput__icon {
    right: $app-icon-input-icon-side-offset;
  }

  /**
   * 1. Prevent input text from overlapping with icon.
   */
  .appIconInput__input {
    padding-right: $app-icon-input-control-offset; /* [1] */
  }

  &.appIconInput--comfy {
    .appIconInput__input {
      padding-right: $app-icon-input-control-comfy-offset; /* [1] */
    }
  }

  /**
   * 1. Prevent select arrow from overlapping with icon.
   */
  &.appIconInput--select {
    .appIconInput__input {
      padding-right: $app-icon-input-select-right-offset; /* [1] */
    }
    .appIconInput__icon {
      right: $app-icon-input-select-icon-side-offset; /* [1] */
    }
  }
}

.appForm--cozy .appIconInput--left,
.appIconInput--left {

  .appIconInput__icon {
    left: $app-icon-input-icon-side-offset;
  }

  /**
   * 1. Prevent input text from overlapping with icon.
   */
  .appIconInput__input {
    padding-left: $app-icon-input-control-offset; /* [1] */
  }

  &.appIconInput--comfy {
    .appIconInput__input {
      padding-left: $app-icon-input-control-comfy-offset; /* [1] */
    }
  }
}
