$base-z-index-popover: 38 !default;
$base-z-index-global-nav: 40 !default;
$base-z-index-global-header: 100 !default;
$base-z-index-alert: 140 !default;
$base-z-index-modal: 300 !default;
$com-z-index-modal-background: 299 !default;
$base-z-index-modal: 300 !default;
