// XS
$base-lower-xsmall: 0px !default;
$base-upper-xsmall: 480px !default;

// Small
$base-lower-small: 481px !default;
$base-upper-small: 640px !default;

// Medium
$base-lower-medium: 641px !default;
$base-upper-medium: 1023px !default;

// Large
$base-lower-large: 1024px !default;
$base-upper-large: 1440px !default;

// X large
$base-lower-xlarge: 1441px !default;
$base-upper-xlarge: 1920px !default;

// XX large
$base-lower-xxlarge: 1921px !default;
$base-upper-xxlarge: 2400px !default;
