.comGlobalHeader__logo.logo-edgemax > .icon {
	width: 110px;
}

input.comFormSearch__input {
	width: 100%;
}

//@media only screen and (min-width: 1150px) {
	.comGlobalHeader__logo.logo-edgemax {
		width: 134px;
	}
//}
