$app-side-panel-width: remCalc(400px);
$app-side-panel-small-width: remCalc(270px);
$app-side-panel-drop-shadow-distance: 4px;
$app-side-panel-transition-duration: 0.3s;
$app-side-panel-section-padding: remCalc(12px 18px 10px);
