$com-section-header-icon-font-size: 13rem;
$com-section-header-icon-height: 0.8em;

$com-section-header-icon-large-font-size: 18.375rem;
$com-section-header-icon-large-height: 0.75em;

$com-section-header-title-font-weight: 300;
$com-section-header-title-font-size: 2.25rem;
$com-section-header-title-line-height: 2.5rem;


/* Secondary */
$com-section-header-secondary-icon-width: 6.25rem;
$com-section-header-secondary-icon-height: 3.75rem;
$com-section-header-secondary-icon-font-size: 6.5rem;
$com-section-header-secondary-title-font-size: 1.2rem;

/* airfiber */
$com-section-header-secondary-airfiber-icon-width: 6.5rem;
$com-section-header-secondary-airfiber-icon-font-size: 6.25rem;

/* edgemax */
$com-section-header-secondary-edgemax-icon-width: 6.7rem;
$com-section-header-secondary-edgemax-icon-font-size: 6.25rem;

/* unifi */
$com-section-header-secondary-unifi-icon-width: 5.45rem;
$com-section-header-secondary-unifi-icon-font-size: 5.6875rem;

/* unifi video */
$com-section-header-secondary-unifi-video-icon-width: 7.75rem;
$com-section-header-secondary-unifi-video-icon-font-size: 6.25rem;

/* unifi voip */
$com-section-header-secondary-unifi-voip-icon-width: 7.2rem;
$com-section-header-secondary-unifi-voip-icon-font-size: 7.4375rem;

/* mfi */
$com-section-header-secondary-mfi-icon-width: 3.8125rem;
$com-section-header-secondary-mfi-icon-font-size: 6.4375rem;