// Spacing
$app-global-header-dropdown-spacing: remCalc(12px);

// Arrow
$app-global-header-dropdown-arrow-size: remCalc(7px);
$app-global-header-dropdown-arrow-shadow-size: remCalc(8px);

// Border Width
$app-global-header-dropdown-border-width: remCalc(1px);

// Width
$app-account-links-width: remCalc(240px);

// Avatar size
$app-account-links-avatar-size: 28px;
